<html>
<head>
<title>introduction to linux</title>
<link rel = "stylesheet"
   type = "text/css"
   href = "css/linux.css"/>
</head>
<body>
	<div id="container">
		<div id="header">


			<h1>INTRODUCTION TO LINUX</h1>
		</div>

		<div id="content">
			<div id="nav">
				<h3>NAVIGATIONS</h3>
				<h4> <a href="">Python</a> </h4>

				<h4><a href="https://github.com/rotovegas/python">My Python Page</a> </h4>
				<h4><a href="https://github.com/rotovegas/Introduction-to-Linux">My Linux Page</a> </h4>
				
			</div>
			<div id"main">
				<h2>IoT In Africa</h2>
				<p>introduction to IoT in Africa </br>

how to install raspberry pi and other configuration
</br>

with the command below:</br>

</br>
sudo apt-get update
</br>
sudo apt-get -y upgrade
</br>
sudo apt-get -y install rpi-update
</br>
sudo rpi-update
</br>
sudo shutdown -r now
</br>

reation of personal acoount for the raspberry pi
</br>
commands:
</br>
sudo adduser <username>
</br>
sudo usermod -a -G adm,dialout,cdrom,sudo,audio,video,plugdev,games,users,input,netdev,spi,i2c,gpio <username>
</br>

 Introduction to Linux
</br>
simple comands in linux:
</br>
man shows a manual page
</br>
pwd to show current working directory
</p>

			</div>

		</div>

		<footer>
			<h4> </h4>

		</div>

	</div>
</body>
</html>
