body {
background-color: white;

}


#container {
background-color:grey;

}



#header {
background-color: black;
display: flex;
color: red;
height: 60px;
width: auto;
margin: auto;
padding: auto;

}

#title {
height: auto;
width: aoto ;
margin: auto;
padding: auto;
}
#nav {
color: blue;
margin-right: 10px;
margin: auto;
padding: auto;
padding-left: 60px;

}
#header h4 {
float: right;
display: inline;
margin-right: 5px;


}
#content {
background-color: grey;
padding-top: 10px;
margin: auto;
height: 180px;
}
#footer {
clear: both;

}
